.sidebar {
    position: relative;
    width: 440px;
    height: 100vh;
    background-color: var(--background-dark);
    border-right: 1px solid var(--borders);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.sidebar-header {
    padding: 5px;
    color: var(--font-color-sidebar);
    font-family: 'Helvetica Neue Medium';
    text-align: left;
    font-size: 10px;
    border-bottom: 1px solid var(--borders);
    letter-spacing: .8px;
    display: flex;
    align-items: center;
}

.sidebarHeaderIcons {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: flex-end;
    width: 100%;
}

.dots {
    margin: 0 20px 0 25px;
}

.profile-icon {
    margin-right: 30px;
}

.contact-list {
    padding: 0;
    margin: 0;
}

.contact-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    color: white;
}

li.contact-item:hover {
    background-color: #504f4f60;
}

li.contact-item {
    border-bottom: 1px solid var(--borders);
    padding-left: 10px;
    align-items: center;
}

.contact-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-name {
    font-size: 15px;
    font-weight: 5600;
    letter-spacing: 1.5px;
    margin: 0;
}

.contact-status {
    font-size: 14px;
    padding-top: 4px;
    color: #9c9a9a;
    margin: 0;
    letter-spacing: 1px;
}

/* Estilos para el botón + para crear un nuevo chat */
.addChatButton {
    position: absolute;
    bottom: 30px; /* Fija el botón en el bottom del sidebar */
    left: 50%; /* Lo coloca en el centro horizontal */
    transform: translateX(-50%); /* Centrado exacto en el eje X */
    width: 60px;
    height: 60px;
    background-color: var(--message-bg);
    color: white;
    border-radius: 50%;
    border: solid rgba(0, 0, 0, 0.247) .1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
    z-index: 100;
}

.addChatButton:hover {
    background-color: rgb(2, 129, 106);
}

.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5 ); /* Fondo oscuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Asegura que el modal esté por encima de otros elementos */
}

/* Estilos del contenido del modal */
.modalContent {
    background: rgb(32, 44, 51);
    padding: 40px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

/* Título del modal */
.modalContent h2 {
    color: var(--font-color);
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Input para el nombre de usuario */
.modalContent input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--message-bg);
    background-color: var(--input-bg);
    color: var(--font-color);
    font-size: 1rem;
    transition: all 0.3s ease;
}

.modalContent input:focus {
    border-color: var(--focus-border);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
}

/* Botón para crear el chat */
.modalContent button {
    width: 100%;
    padding: 14px;
    margin-bottom: 10px;
    background-color: var(--message-bg);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modalContent button:hover {
    background-color: rgb(2, 129, 106);
}

.modalContent button:active {
    transform: translateY(2px); /* Efecto de click, botón se hunde */
}

/* Botón Cancelar */
.modalContent button:last-of-type {
    background-color: var(--message-bg);
    margin-bottom: 0;
}

.modalContent button:last-of-type:hover {
    background-color: rgb(2, 129, 106);
}

/* Asegura un buen espaciado entre el contenido */
.modalContent * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Responsive */

@media (width: 2560px) {
    .sidebar {
        width: 600px;
        height: 100vh;
    }

    .sidebar-header {
        height: 80px;
    }

    .sidebar-header h1 {
        font-size: 280%;
    }

    .contact-item {
        height: 100px;
    }

    .contact-list img {
        width: 70px;
        height: 70px;
    }

    .contact-info h4, .contact-info p {
        font-size: 140%;
    }
}

@media (width: 2000px) {
    .sidebar {
        width: 600px;
        height: 100vh;
    }

    .sidebar-header {
        height: 80px;
    }

    .sidebar-header h1 {
        font-size: 280%;
    }

    .contact-item {
        height: 100px;
    }

    .contact-list img {
        width: 70px;
        height: 70px;
    }

    .contact-info h4, .contact-info p {
        font-size: 140%;
    }
}

@media screen and (max-width: 1440px) {
    .sidebar {
        width: 400px;
        height: 100vh;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 300px;
        height: 100vh;
    }
}

@media screen and (max-width: 425px) {
    .chatScreen .sidebar {
        display: none;
    }

    .homeScreen .sidebar {
        width: 100vw;
    }

    .modalContent button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 375px) {
        .modalContent {
            width: 300px;
        }
    }
    
}

